[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sesa58149
[access "refs/for/refs/*"]
	read = group user/sesa58149
	push = group user/sesa58149
	label-Code-Review = -2..+2 group user/sesa58149
	label-Verified = -1..+1 group user/sesa58149
	rebase = group user/sesa58149
	removeReviewer = group user/sesa58149
	submit = group user/sesa58149
[access "refs/heads/*"]
	read = group user/sesa58149
	create = group user/sesa58149
	push = +force group user/sesa58149
	pushMerge = group user/sesa58149
[access "refs/tags/*"]
	push = +force group user/sesa58149
	pushTag = group user/sesa58149
	pushSignedTag = group user/sesa58149
